body {
    margin: 0;
    padding: 0;
}

header {
    position:relative; /* required for child element(s) positioning */
    text-align: center;
    border-bottom: 0px;
    padding: 0px;
    color:black;
}

#toggleButton1 {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    color: orangered;
    cursor: pointer;
    font-size: 24px; /* Adjust the font size as needed */
    z-index: 1000; /* Ensure it's above other content */
    background-color: transparent; /* No background color */    
}

main {
    display: flex;
    height: 100vh;
}

.left-half {
    width: 50%;
    background-color: #ffff00; /* Yellow background */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    border-right: 0px solid black; /* Border between halves */
    border-radius: 50%;
    margin-right: 30px;
    background-image: linear-gradient(red, yellow);

}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px; /* Larger font size */
    font-weight: bold; /* Heavier font weight */
    color: white; /* White font color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Slight shadow */
}

.right-half {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    border-left: 10px solid black;
    
}

form {
    max-width: 400px;
    
}

.label-large {
    font-size: 2.0em; /*Larger font size */
    font-weight: bold; /*Heavier font weight */
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}